.rbc-day-slot .rbc-event.default {
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary);
    transition: 0.2s ease;
    opacity: 0.9;
}

.rbc-day-slot .rbc-event.default:hover {
    background-color: var(--primary-dark);
}

.rbc-day-slot .rbc-event.showCustomerIcon {
    background-color: var(--green);
}

.rbc-day-slot .rbc-event.showCustomerIcon:hover {
    background-color: var(--green-dark);
}

.rbc-day-slot .rbc-event.showCustomerIcon::after {
    content: url('../icons/person.svg');
    position: absolute;
    width: auto;
    height: auto;
    right: 5px;
    bottom: 0;
}

.rbc-day-slot .rbc-event.assembly {
    background-color: var(--primary);
}

.rbc-day-slot .rbc-event.assembly:hover {
    background-color: var(--primary-dark);
}

.rbc-day-slot .rbc-event.delivery {
    background-color: var(--grey);
}

.rbc-day-slot .rbc-event.delivery:hover {
    background-color: var(--grey-dark);
}

.rbc-day-slot .rbc-event.complaint {
    background-color: var(--red);
}

.rbc-day-slot .rbc-event.complaint:hover {
    background-color: var(--red-dark);
}

.rbc-addons-dnd-resizable {
    width: 100%;
}