.login_wrapper {
    width: 100%;
    height: 100%;
    background-image: url("../images/background_geometric.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login_wrapper .login_content {
    width: 80%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 8px 0px #00000026;
    border-radius: 13px;
    backdrop-filter: blur(7px);
}

.login_wrapper h1 {
    color: var(--grey-dark);
    margin: 0;
    font-size: 52px;
    font-weight: 300;
}

.login_wrapper label {
    color: var(--grey-dark);
}

@media screen and (min-width: 768px) {
    .login_wrapper .login_content {
        max-width: 640px;
    }

    .login_wrapper h1 {
        text-align: center;
    }

    .login_wrapper input[type="submit"] {
        margin: 25px 0 0 auto;
    }
}