.calendar_wrapper {
    width: calc(100% - 2rem);
    padding: 0 2rem;
    margin-left: auto;
}

.calendar_wrapper .tab_bar {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.calendar_wrapper .tab_container {
    padding: 1rem 0;
    display: none;
}

.calendar_wrapper .tab_container:nth-child(2) {
    display: block;
}