.header_wrapper {
    width: 100%;
    margin: 0;
    background-color: #fff;
    box-shadow: 1px 1px 6px var(--shadow);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_wrapper .header_content {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.75rem 2rem;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.header_wrapper svg {
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
    fill: var(--grey-dark);
}