.menue_wrapper {
    position: absolute;
    background: #fff;
    top: 6rem;
    right: -16rem;
    opacity: 0;
    padding: 1rem;
    z-index: 5;
    box-shadow: -3px 5px 5px 0px #00000024;
    transition: 0.4s ease;
    width: 16rem;
    height: calc(100vh - 6rem);
}

.menue_wrapper[state="open"] {
    right: 0;
    opacity: 1;
}

.menue_wrapper>p {
    margin-top: 0;
}

.menue_wrapper .menue_links {
    display: flex;
    flex-flow: column nowrap;
}