.calendar_wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: scroll;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.calendar_wrapper .rbcToolbar .rbcBtnGroup {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.rbcBtnGroup button {
    border: none;
    border-radius: 0;
}

.rbcBtnGroup button:not(:last-child) {
    border-right: 1px solid #ccc !important;
}

.rbcBtnGroup:nth-child(1) button:nth-child(1) {
    background: red !important;
    order: 2;
}

.rbcToolbar .rbcBtnGroup:first-child button:nth-child(1) {
    order: 1;
}