.sidebar {
    position: relative;
    width: 33%;
    min-width: 250px;
    height: calc(100vh - 90px);
    padding: 1rem;
    background: linear-gradient(45deg, #2440BDDB 0%, #00C3FFDB 100%);
    color: #fff;
    border-radius: 0 24px 0 0;
    box-shadow: 2px 2px 8px #0000003d;
    transition: 0.4s ease-in-out;
    display: none;
}

.sidebar h2 {
    text-align: left;
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
    display: inline-block;
    width: 83%;
    margin-left: 5px;
}

.sidebar .btn_close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 9px;
    margin: 0 0 0 auto;
    color: black;
    mix-blend-mode: screen;
    top: 18px;
    right: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
    transition: 0.4s ease;
}

.sidebar .btn_showAll {
    background-color: #fff;
    border-radius: 9px;
    margin: 4px auto 20px 0;
    color: black;
    mix-blend-mode: screen;
    opacity: 0.75;
    transition: 0.4s ease;
    padding: 2px 10px;
}

.sidebar .btn_showAll:hover {
    background-color: #fff;
}

.sidebar .btn_close:hover, .sidebar .btn_showAll:hover {
    cursor: pointer;
    opacity: 1;
}

.appointment_box_wrapper {
    width: 106%;
    height: calc(100% - 42px);
    background: transparent;
    color: var(--primary);
    overflow: scroll;
    padding: 3%;
    border-radius: 8px;
    margin-left: -3%;
    margin-top: -6%;
}

.appointment_box {
    width: auto;
    margin: 0.5rem 0;
    padding: 0.8rem;
    background: #fff;
    border-radius: 13px;
    box-shadow: 1px 1px 5px var(--shadow);
    cursor: pointer;
    transition: 0.4s ease;
}

.appointment_box:first-child {
    margin-top: 0 !important;
}

.appointment_box:last-child {
    margin-bottom: 0 !important;
}

.appointment_box:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.appointment_box .title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.appointment_detail p {
    margin: 0;
    font-size: 13px;
}

/* sidebar closed */


.sidebar_closed {
    margin-left: -33%;
}

.sidebar_closed .btn_close {
    transform: translateX(3rem) rotate(180deg);
    background-color: var(--primary);
    border-radius: 9px 0 0 9px;
    color: #fff;
    transition: 0.4s ease;
    height: 2.2rem;
}

@media screen and (min-width: 768px) {
    .sidebar {
        display: block;
    }
}